.standard-button {
    background-color: var(--dark-orange-senac) !important;
    color: var(--dark-blue-senac) !important;
    font-weight: bold !important;
    padding: 6px 12px !important;

}

.standard-button:hover {
    background-color: #fca63d !important;
    color: var(--dark-blue-senac) !important;
}