.standard-button {
    background-color: var(--dark-orange-senac) !important;
    color: var(--dark-blue-senac) !important;
    font-weight: bold !important;
    padding: 10px !important;
    width: 90px !important;
}

.standard-button:hover {
    background-color: var(--light) !important;
}