.cadastro-aluno {
    width: 100%;
    padding: 2rem;
}

.aluno-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.aluno-header h2{
    margin: 0;
    font-size: 36px;
}