.notificacao-title {
    padding: 16px 16px 10px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.notificacao-title p {
    font-weight: bold;
    font-size: 1.2rem;
}

.notificacao-title span {
    font-size: 0.7rem;
    color: #6b6a6a;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.notificacao-modal-title {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 20px;
}

.notificacao-modal-title p {
    font-weight: bold;
    font-size: 1.6rem;
}

.notificacao-modal-title span {
    font-size: 0.8rem;
    color: #6b6a6a;
    font-weight: 500;
}