.alerta-padrao {
    position: fixed;
    top: auto !important;
    right: 16px !important;
    left: auto !important;
    bottom: 16px !important;
    animation: slide-up 0.5s ease-out;
}

.alerta-padrao > div {
    box-shadow: 0px 0px 6px 1px #b6b6b6;
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}