.titulo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cadastro-periodo {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  flex-direction: column;
}

.cadastro-periodo-nome {
  width: 100%;
}

.cadastro-periodo-data {
  width: 100%;
  display: flex;
  gap: 20px;
}

.date-picker {
  width: 100%;
}