.titulo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.modal-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  background-color: var(--light);
  border: 2px solid var(--dark-blue-senac);
  box-shadow: 24px;
  padding: 16px;
}

#modal-modal-title {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.cadastro-periodo {
  width: 100vw;
  padding: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  flex-direction: column;
}

.cadastro-periodo-nome {

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cadastro-periodo-data {
  display: flex;
  gap: 20px;

}