.side-menu{
    padding: 10px 0;
    background-color: #004A8D;
    box-shadow: inset 0px 2px 2px 0px #0132639c;
}

.side-menu-lista {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.side-menu-lista a {
    text-decoration: none;
}

.side-menu-lista li {
    width: 190px;
    padding: 12px;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 12px;
    color: #f1f1f1;
    transition: 200ms;
    cursor: pointer;
}

.side-menu-lista li:hover {
    background-color: #d48a2f;
    border-radius: 5px;
    transition: 200ms;
}

.side-menu-lista li path {
    color: #f1f1f1;
}

