:root{
    --dark-blue-senac:#004A8D;
    --light-blue-senac:#558ABA;
    --dark-orange-senac: #F7941D;
    --light-orange-senac: #FDC180;
    --light: #ffffff;
    --dark: #000000;
    --gray: #EBEBEB;
}

.side-menu{
 height: 100vh;
}
.side-menu-lista{
    display: flex;
    flex-direction: column;
    gap: 18px;
    height: 100vh;
    background-color: var(--gray);
}
.side-menu-lista > il {
    display: flex;
    justify-items: center; 
}