.side-menu{
    width: 100%;
    padding: 10px 0;
    background-color: var(--gray);
}

.side-menu-lista {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.side-menu-lista li {
    padding: 12px 46px 12px 22px;
    display: flex;
    justify-items: center;
    gap: 12px;
}

.side-menu-lista li a {
    color: var(--dark);
    text-decoration: none;
}

.side-menu-lista li a:hover {
    color: var(--dark-orange-senac);
}