.card-padrao{
    position: relative;
    height: 200px;
    padding: 16px 24px 10px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 8px 0px #00000013, 0px 0px 4px 0px #00000036!important;
    border-radius: 10px !important;
    gap: 6px;
}

.card-padrao-disciplina-cor {
    position: absolute;
    top: 0;
    right: 0;
    filter: drop-shadow(0px 1px 2px rgb(131, 131, 131));
}

.card-padrao-disciplina-cor-tag {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.card-padrao-title {
    padding: 0 !important;
}

.card-padrao-title div {
    max-width: 100%;
}

.card-padrao-title div span h3{
    margin: 0 0 5px 0;
    font-size: 1.64rem;
    max-width: 100%;   
    overflow: hidden;     
    white-space: nowrap;       
    text-overflow: ellipsis; 
}

.card-padrao-body p{
    margin: 5px 0px 10px 0px;
    display: flex;
    align-items: center;
    gap: 14px;
}

.card-padrao-body span {
    max-width: 100%;   
    overflow: hidden;     
    white-space: nowrap;       
    text-overflow: ellipsis; 
}

.card-padrao-actions svg {
    width: 2rem;
    height: 2rem;
}

.card-padrao-actions span > .toggleOff {
   fill:#4c4e50;
   width:2.3rem;
   height:2.3rem;
}

.card-padrao-actions span > .toggleOn {
    width:2.3rem;
    height:2.3rem;
}

.card-padrao-actions span:has(.toggleOn) {
    margin-left: 5px;
}
.card-padrao-actions span {
    cursor: pointer;
    opacity: 1 !important;
}

.inativo {
    opacity: 0.5;
}
