:root{
  --dark-blue-senac:#004A8D;
  --light-blue-senac:#558ABA;
  --dark-orange-senac: #F7941D;
  --light-orange-senac: #FDC180;
  --light: #ffffff;
  --dark: #000000;
}

body {
  margin: 0;
  display: flex;
  font-family: "Poppins", sans-serif;
}

:root {
  --dark-blue-senac: #004A8D;
  --light-blue-senac: #558ABA;
  --dark-orange-senac: #F7941D;
  --light-orange-senac: #FDC180;
  --light: #ffffff;
  --dark: #000000;
  --gray: #EBEBEB;
}

main {
  min-width: 100%;
  width: 100%;
  height: auto;
  display: flex;
  justify-items: center;
  overflow: hidden;
}