.redefinirsenha-regras {
    text-align: center;
    font-style: italic;
    color: #c7c7c7;
    font-size: 0.9rem;
    margin: 0;
}

.redefinirsenha-regra {
    font-weight: 600;
    letter-spacing: 0.1px;
    transition: 0.2s;
}

.redefinirsenha-valida {
    color: rgb(121, 247, 121);
}

.redefinirsenha-invalida {
    color: rgb(255, 110, 110);
}
