.redefinirsenha-regras {
    text-align: center;
    font-style: italic;
    color: #464545;
    font-size: 0.9rem;
    margin: 0;
}

.redefinirsenha-regra {
    font-weight: 600;
    letter-spacing: 0.1px;
    transition: 0.2s;
}

.redefinirsenha-valida {
    color: rgb(24, 139, 24);
}

.redefinirsenha-invalida {
    color: rgb(206, 39, 39);
}
