.curso-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    /* alterar para grid responsivo com keyframe*/
}

.cadastro-fase {
    width: 100%;
}